<?xml version="1.0"?>
<config>
    <modules>
        <Timste_BodyClass>
            <version>1.0.0</version>
        </Timste_BodyClass>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html>Timste_Bodyclass_Block_Html</html>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
