<?xml version="1.0"?>
<config>
    <modules>
        <Timste_BodyClass>
            <version>1.1.0</version>
        </Timste_BodyClass>
    </modules>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <timste_bodyclass>
                        <class>Timste_Bodyclass_Model_Observer</class>
                        <method>addTimsteBodyclass</method>
                    </timste_bodyclass>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>